<style lang="sass" rel="stylesheet/sass">
    .contact-email
        &__icon
            width: 15px
            height: 15px
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="tags has-addons contact-email">
        <span class="tag is-primary is-rounded">
            <svg class="contact-email__icon">
                <use xlink:href="#mail"></use>
            </svg>
        </span>

        <div class="tag is-light is-rounded">

            <a :href="link">
                {{ title }}
            </a>

        </div>
    </div>
</template>


<script type="text/babel">
    export default {
        props: {},
        data() {
            return {
                link: "",
                title: "",
            };
        },
        mounted() {
            this.link = "mailto:" + this.$slots.default[0].text.trim();
            this.title = this.$slots.default[0].text.trim();
        },
    }
</script>