<style lang="sass" rel="stylesheet/sass">
    .contact-phone
        &__icon
            width: 15px
            height: 15px
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="tags has-addons contact-phone">
        <span class="tag is-primary is-rounded">
            <svg class="contact-phone__icon">
                <use xlink:href="#phone"></use>
            </svg>
        </span>

        <div class="tag is-light is-rounded">

            <a :href="'tel:' + originNumber" v-if="isMobile">
                {{ number }}
            </a>

            <div v-else>
                {{ number }}
            </div>

        </div>
    </div>
</template>


<script type="text/babel">
    let MobileDetect = require('mobile-detect');
    let md = new MobileDetect(window.navigator.userAgent);

    export default {
        props: {},
        data() {
            return {
                number: "",
                originNumber: null,
                isMobile: false
            };
        },
        mounted() {
            this.isMobile = !!md.mobile();

            this.number = this.$slots.default[0].text.trim();
            this.originNumber = this.number;
            // this.number = this.$slots.default[0].text.trim().replace(/a/g, "");

            try {
                const krskCityNumWithCode = new RegExp(/^\+7(391)([\d]{3})([\d]{2})([\d]{2})$/, 'i');
                // const krskCityNumShort = new RegExp(/^2([\d]{2})([\d]{2})([\d]{2})$/, 'i');
                const mobileNum = new RegExp(/^\+7([\d]{3})([\d]{3})([\d]{2})([\d]{2})$/, 'i');

                if (krskCityNumWithCode.test(this.number)) {
                    this.number = this.number.replace(krskCityNumWithCode, '+7 (391) $2-$3-$4');
                }

                if (mobileNum.test(this.number)) {
                    this.number = this.number.replace(mobileNum, '+7-$1-$2-$3-$4');
                }
            } catch (e) {
                console.log(e);
            }
        },
    }
</script>