<style lang="sass" rel="stylesheet/sass">
    .contact-url
        &__icon
            width: 15px
            height: 15px
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="tags has-addons contact-url">
        <span class="tag is-primary is-rounded">
            <svg class="contact-url__icon" v-show="icon == 'url'">
                <use xlink:href="#url"></use>
            </svg>

            <svg class="contact-url__icon" v-show="icon == 'insta'">
                <use xlink:href="#insta"></use>
            </svg>

            <svg class="contact-url__icon" v-show="icon == 'fb'">
                <use xlink:href="#fb"></use>
            </svg>

            <svg class="contact-url__icon" v-show="icon == 'vk'">
                <use xlink:href="#vk"></use>
            </svg>
        </span>

        <div class="tag is-light is-rounded">

            <a :href="link" target="_blank">
                {{ title }}
            </a>

        </div>
    </div>
</template>


<script type="text/babel">
    export default {
        props: {},
        data() {
            return {
                link: "",
                title: "",
                icon: "url"
            };
        },
        mounted() {
            let url = this.$slots.default[0].text.trim();

            if (!/^(http|https):\/\//.test(url)) {
                url = "http://" + url;
            }

            url = url.replace(/(www\.)/, "");


            this.link = url;
            this.title = url.replace(/^(http|https):\/\/(www\.)?/, "");
            this.title = this.title.replace(/\/$/, "");


            const instaUrl = new RegExp(/([^\s]+)(instagram\.com)\/([^\s\/]+)\/?/, 'i');

            if (instaUrl.test(this.link)) {
                this.title = this.link.replace(instaUrl, '@$3');
                this.icon = "insta";
            }


            const vkUrl = new RegExp(/(https:\/\/)(vk\.com)\/([^\s\/]+)\/?/, 'i');

            if (vkUrl.test(this.link)) {
                // this.title = this.link.replace(vkUrl, '@$3');
                this.icon = "vk";
            }


            const fbUrl = new RegExp(/(https:\/\/)(facebook\.com)\/([^\s\/]+)\/?/, 'i');

            if (fbUrl.test(this.link)) {
                // this.title = this.link.replace(vkUrl, '@$3');
                this.icon = "fb";
            }
        },
    }
</script>