<style lang="sass" rel="stylesheet/sass">
    @import "../styles/base_variables"

    .burger-menu
        &__links
            width: 100%
            position: absolute
            z-index: 10
            top: 3.25rem
            left: 0
            display: block
            border-top: 2px solid $base_color_gray
            border-bottom: 2px solid $base_color_gray
            background-color: $base_color_yellow

            &__main-links
                padding-top: 20px
                margin-bottom: 20px

            &__subitems
                padding: .5rem 1rem
                margin-bottom: 20px


</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div style="margin-left: auto">
        <button class="button navbar-burger" :class="{'is-active': showMenu}" v-on:click.prevent="showMenu = !showMenu">
            <span></span>
            <span></span>
            <span></span>
        </button>


        <div class="burger-menu__links is-hidden-desktop" v-show="showMenu">
            <div class="burger-menu__links__main-links">
                <slot name="main-links"></slot>
            </div>

            <div class="burger-menu__links__subitems">
                <slot name="subitems"></slot>
            </div>
        </div>
    </div>
</template>


<script type="text/babel">
    export default {
        props: {},
        data() {
            return {
                showMenu: false
            }
        },
        methods: {},
        mounted() {
        },
    }
</script>