<style lang="sass" rel="stylesheet/sass">
    @import "../styles/base_variables"

    .user-comments
        /*border: 1px solid #e7e7e7*/
        /*padding-right: 20px*/
        margin-bottom: 20px
        margin-top: 40px

        &__title
            margin-bottom: 10px

            .title
                color: #888

        &__empty
            margin-top: -30px
            font-weight: bold

    .add-comment-form
        background-color: $base_color_gray
        padding: 20px
        display: none

        &__avatar
            width: 60px
            height: 60px
            margin-right: 10px
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <aside>

        <div class="user-comments">
            <div class="columns">
                <div class="column is-narrow">

                    <div class="user-comments__title">
                        <slot name="title">
                        </slot>
                    </div>
                </div>
                <div class="column has-text-right">
                    <button
                            v-on:click.prevent="showAddCommentBox"
                            ref="addCommentButton"
                            class="button is-small is-warning">
                        добавить свой отзыв
                    </button>
                </div>
            </div>

            <div v-cloak>
                <comment
                        :key="commentData.id"
                        v-for="commentData in comments"
                        v-bind:user="commentData.user"
                        v-bind:text="commentData.text"
                        v-bind:date="commentData.date"
                ></comment>
            </div>


            <div v-show="!comments.length" class="user-comments__empty">
                Отзывов еще нет. Вы можете быть первым.
            </div>

            <div class="has-text-centered">
                <button
                        ref="loadButton"
                        v-on:click.prevent="loadComments(nextPageNum)"
                        class="button is-small is-info">
                    показать еще отзывы
                </button>
            </div>
        </div>


        <div class="add-comment-form">
            <div class="columns">
                <div class="column is-narrow is-hidden-mobile">
                    <div class="add-comment-form__avatar">
                        <img :src="userAvatarSrc">
                    </div>
                </div>

                <div class="column">
                    <textarea class="textarea" placeholder="Текст отзыва"></textarea>
                </div>
            </div>
        </div>

    </aside>
</template>


<script type="text/babel">
    import axios from 'axios';
    import comment from './user-comment.vue';

    export default {
        props: {
            requestUri: String,
            threadId: String,
            userAvatarSrc: String
        },
        data() {
            return {
                comments: [],
                nextPageNum: 1,
            }
        },
        components: {
            comment
        },
        methods: {
            loadComments(pageNum) {
                let vue = this;

                vue.$refs.loadButton.classList.add("is-loading");

                axios
                    .get(vue.requestUri, {
                        params: {
                            thread: vue.threadId,
                            page: pageNum
                        }
                    })
                    .then(successResponse => {
                        successResponse.data.comments.forEach(function (item) {
                            vue.comments.push(item);
                        });


                        vue.$refs.loadButton.classList.remove("is-loading");
                        vue.nextPageNum++;

                        if (!successResponse.data.hasNextPage) {
                            vue.$refs.loadButton.disabled = true;
                            vue.$refs.loadButton.style.display = "none";
                        }
                    })
                    .catch(errorResponse => {
                        console.log(errorResponse);
                    });
            },
            showAddCommentBox() {
                window.location.href = "/login";
            }
        },
        mounted() {
            this.loadComments(1);
        },
    }
</script>