<style lang="sass" rel="stylesheet/sass">
    @import "../styles/base_variables"

    .company-share-box

        &__content
            h1
                font-size: 30px
                margin-bottom: 20px

            p
                margin-bottom: 15px
                font-size: 16px
                line-height: 20px

            ul
                margin-bottom: 10px

            padding: 30px 50px
            background-color: $base_color_yellow

        &__links
            margin: 10px 0 40px

        .share-icon
            display: inline-flex
            align-items: center
            justify-content: center
            width: 40px
            height: 40px
            border-radius: 40px
            background-color: #eee

            &_vk
                background-color: #4C77A6
                padding-right: 2px
            &_fb
                background-color: #4468B0
            &_ok
                background-color: #EC8125
            &_twi
                background-color: #3FACF1

            svg
                width: 25px
                height: 25px


</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="modal company-share-box" :class="{'is-active': active}">
        <div
                class="modal-background"
                v-on:click.prevent="active = false">
        </div>

        <div class="modal-content">

            <div class="company-share-box__content">

                <div>
                    <h1>
                        Объявление успешно опубликовано!
                    </h1>
                </div>

                <div>
                    <p>
                        Активность вашего объявления будет выше, если вы поделитесь им в социальных сетях:
                    </p>
                </div>


                <div class="company-share-box__links">
                    <a :href="vkLink" target="_blank" class="share-icon share-icon_vk">
                        <svg>
                            <use xlink:href="#share-vk"></use>
                        </svg>
                    </a>

                    <a :href="fbLink" target="_blank" class="share-icon share-icon_fb">
                        <svg>
                            <use xlink:href="#share-fb"></use>
                        </svg>
                    </a>

                    <a :href="okLink" target="_blank" class="share-icon share-icon_ok">
                        <svg>
                            <use xlink:href="#share-ok"></use>
                        </svg>
                    </a>

                    <a :href="twiLink" target="_blank" class="share-icon share-icon_twi">
                        <svg>
                            <use xlink:href="#share-twi"></use>
                        </svg>
                    </a>
                </div>


                <div>
                    <p>
                        Ссылка на ваше объявление:
                    </p>

                    <input
                            type="text"
                            class="input is-primary is-small"
                            :value="companyLink"
                            v-on:focus="$event.target.select()"
                            readonly>
                </div>
            </div>

        </div>

        <button
                v-on:click.prevent="active = false"
                class="modal-close is-large"
                aria-label="close">
        </button>
    </div>
</template>


<script type="text/babel">
    export default {
        props: {
            companyLink: String,
            companyName: String,
            companySpecialization: String
        },
        data() {
            return {
                active: false,
            };
        },
        computed: {
            vkLink() {
                return "https://vk.com/share.php?url=" + this.companyLink;
            },
            okLink() {
                return "https://connect.ok.ru/offer?url=" + this.companyLink;
            },
            fbLink() {
                return "https://www.facebook.com/sharer.php?src=" + this.companyLink;
            },
            twiLink() {
                return "https://twitter.com/intent/tweet?text=" + this.companySpecialization + " - " + this.companyName + ". " + this.companyLink;
            },
        },
        methods: {},
        created() {
            this.active = true;
        },
    }
</script>