<style lang="sass" rel="stylesheet/sass">
    @import "../styles/base_variables"

    .company-form
        hr
            background-color: #ccc

        .ql-container
            background-color: #F5F5F5
            font-size: 16px
            border-color: #bbb

        .ql-toolbar
            margin-top: 30px
            border-color: #bbb

        .ql-editor
            min-height: 200px

            ul, ol
                padding-left: 0

        .field
            position: relative

        .field-body
            flex-grow: 3

        .field.has-errors
            .label
                color: $base_color_red

            .input
                border-color: $base_color_red

        .field-info
            text-align: left
            font-style: italic
            font-size: 14px
            line-height: 14px

            p
                margin-bottom: 10px

        .field-error
            color: #bd4c3d
            text-align: left
            font-size: 14px
            line-height: 14px
            margin-bottom: 20px

            p
                margin-bottom: 10px

        select
            background-color: #F5F5F5

        .input
            background-color: #F5F5F5
            border: 1px solid rgba(60, 60, 60, .26)
            box-shadow: none

            &[disabled]
                background-color: #eee

        .input.is-danger,
        .textarea.is-danger
            border-color: $base_color_red

        .button.is-small
            span
                margin-bottom: 2px

            span.icon
                margin-bottom: 0

        .button.is-warning
            background-color: #ffca28

        .button_navigate
            padding-right: 15px
            padding-left: 15px
            font-size: 16px
            line-height: 16px

            span
                margin-bottom: 2px

            span.icon
                margin-bottom: 0

            svg
                width: 15px
                height: 15px


</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div v-cloak v-show="isReady">

        <form-steps :position="step"></form-steps>


        <div class="company-form-page__form-bg">
            <div class="columns">
                <div class="column is-12">

                    <div class="company-form">


                        <form v-on:submit.prevent="goStep(2)" v-show="step == 1">
                            <div class="field is-horizontal" :class="{'has-errors': errors.specialization}">
                                <div class="field-label is-normal">
                                    <label class="label">
                                        Специализация
                                    </label>
                                    <div
                                            class="field-error"
                                            v-show="errors.specialization"
                                            v-html="printErorrs(errors.specialization)">
                                    </div>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input
                                                    :disabled="isWaiting"
                                                    v-model="companyData.specialization"
                                                    class="input"
                                                    type="text"
                                                    placeholder="например, элктрик или бригада строителей">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="field is-horizontal" :class="{'has-errors': errors.name}">
                                <div class="field-label is-normal">
                                    <label class="label">
                                        Название компании
                                    </label>

                                    <div
                                            class="field-error"
                                            v-show="errors.name"
                                            v-html="printErorrs(errors.name)">
                                    </div>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">
                                            <input
                                                    :disabled="isWaiting"
                                                    v-model="companyData.name"
                                                    class="input"
                                                    type="text"
                                                    placeholder="название компании или ФИО, ИП">
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <div class="field is-horizontal" :class="{'has-errors': errors.categories}">
                                <div class="field-label is-normal">
                                    <label class="label">
                                        Разделы каталога
                                    </label>

                                    <div class="field-info">
                                        <p>
                                            Выберите не более 20 категорий
                                        </p>
                                    </div>

                                    <div
                                            class="field-error"
                                            v-show="errors.categories"
                                            v-html="printErorrs(errors.categories)">
                                    </div>
                                </div>
                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">

                                            <categories-chosen
                                                    :max="5"
                                                    v-on:change="updateCategories"
                                                    ref="categoriesChosen">
                                            </categories-chosen>

                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="company-form-page__divider"></div>


                            <div class="field is-grouped is-grouped-right">
                                <p class="control">
                                    <a
                                            :disabled="isWaiting"
                                            href="/profile/companies"
                                            class="button is-text"
                                            v-show="mode == 'edit'">
                                        отмена
                                    </a>
                                    <button
                                            :class="{'is-loading': isWaiting}"
                                            class="button is-primary button_navigate"
                                            data-type="submit"
                                            type="submit">
                                        <span>
                                            продолжить
                                        </span>

                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#right-arrow"></use>
                                            </svg>
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </form>


                        <form v-on:submit.prevent="goStep(3)" v-show="step == 2">
                            <div class="field" :class="{'has-errors': errors.info}">
                                <label class="label">
                                    Подробная информация о вашей компании
                                </label>

                                <div class="field-info">
                                    <p>
                                        Опишите ваш опыт, спектр услуг, гарантии и бонусы для клиента, какую
                                        квалификацию и опыт имеете, на каких работах специализируетесь.
                                    </p>

                                    <p>
                                        Компании без описания не вызывают доверия, а слишком большой текст не вызывает
                                        интерес.
                                    </p>
                                </div>

                                <div
                                        class="field-error"
                                        v-show="errors.info"
                                        v-html="printErorrs(errors.info)">
                                </div>

                                <div ref="texteditor"></div>
                            </div>


                            <div class="company-form-page__divider"></div>


                            <div class="field is-grouped is-grouped-right">
                                <p class="control">
                                    <button
                                            :disabled="isWaiting"
                                            class="button is-primary button_navigate"
                                            v-on:click="stepBack"
                                            type="button">
                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#left-arrow"></use>
                                            </svg>
                                        </span>

                                        <span>
                                            назад
                                        </span>
                                    </button>
                                </p>
                                <p class="control">
                                    <button
                                            :class="{'is-loading': isWaiting}"
                                            class="button is-primary button_navigate"
                                            data-type="submit"
                                            type="submit">
                                        <span>
                                            продолжить
                                        </span>

                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#right-arrow"></use>
                                            </svg>
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </form>


                        <form v-on:submit.prevent="goStep(4)" v-show="step == 3">
                            <div class="field" :class="{'has-errors': errors.images}">
                                <label class="label">
                                    Изображения для портфолио
                                </label>

                                <div class="field-info">
                                    <p>
                                        Загрузите фотографии на которых запечетлена ваша работа и конечный результат.
                                        <br>
                                        Качественные фото грарантируют большое количество клиентов.
                                    </p>
                                    <p v-show="!errors.images">
                                        Не менее 6 и не более 30 фото.
                                    </p>
                                </div>

                                <div
                                        class="field-error"
                                        v-show="errors.images"
                                        v-html="printErorrs(errors.images)">
                                </div>

                                <div class="control">

                                    <images-uploader
                                            ref="imagesUploader"
                                            v-on:change="updateImages"
                                            upload-uri="/api/upload">
                                    </images-uploader>

                                </div>
                            </div>


                            <div class="company-form-page__divider"></div>


                            <div class="field is-grouped is-grouped-right">
                                <p class="control">
                                    <button
                                            :disabled="isWaiting"
                                            class="button is-primary button_navigate"
                                            v-on:click="stepBack"
                                            type="button">
                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#left-arrow"></use>
                                            </svg>
                                        </span>

                                        <span>
                                            назад
                                        </span>
                                    </button>
                                </p>
                                <p class="control">
                                    <button
                                            :class="{'is-loading': isWaiting}"
                                            class="button is-primary button_navigate"
                                            data-type="submit"
                                            type="submit">
                                        <span>
                                            продолжить
                                        </span>

                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#right-arrow"></use>
                                            </svg>
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </form>


                        <form v-on:submit.prevent="goStep(5)" v-show="step == 4">
                            <div class="field is-horizontal" :class="{'has-errors': errors.phone}">
                                <div class="field-label is-normal">
                                    <label class="label">
                                        Телефон
                                    </label>

                                    <div class="field-info">
                                        <p>
                                            Основной контакт для связи
                                        </p>
                                    </div>

                                    <div
                                            class="field-error"
                                            v-show="errors.phone"
                                            v-html="printErorrs(errors.phone)">
                                    </div>
                                </div>

                                <div class="field-body">
                                    <div class="field">
                                        <div class="control">

                                            <phone-input
                                                    v-bind:disabled="isWaiting"
                                                    v-model="companyData.phone">
                                            </phone-input>

                                        </div>
                                    </div>
                                </div>
                            </div>

                            <hr>

                            <contacts-input v-model="companyData.contacts">
                            </contacts-input>


                            <div class="company-form-page__divider"></div>


                            <div class="field is-grouped is-grouped-right">
                                <p class="control">
                                    <button
                                            :disabled="isWaiting"
                                            class="button is-primary button_navigate"
                                            v-on:click="stepBack"
                                            type="button">
                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#left-arrow"></use>
                                            </svg>
                                        </span>

                                        <span>
                                            назад
                                        </span>
                                    </button>
                                </p>
                                <p class="control">
                                    <button
                                            :class="{'is-loading': isWaiting}"
                                            class="button is-primary button_navigate"
                                            data-type="submit"
                                            type="submit">
                                        <span>
                                            продолжить
                                        </span>

                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#right-arrow"></use>
                                            </svg>
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </form>


                        <form v-on:submit.prevent="goStep(6)" v-show="step == 5">
                            <div class="field" :class="{'has-errors': errors.addresses}">
                                <label class="label">
                                    Адрес компании
                                </label>

                                <div class="field-info">
                                    <p>
                                        Если у вашей компании имеется офис, магазин или любое другое местонахождение -
                                        укажите на карте
                                    </p>
                                </div>

                                <div
                                        class="field-error"
                                        v-show="errors.addresses"
                                        v-html="printErorrs(errors.addresses)">
                                </div>


                                <div class="control">
                                    <addresses-input v-model="companyData.addresses">
                                    </addresses-input>
                                </div>
                            </div>


                            <div class="company-form-page__divider"></div>


                            <div class="field is-grouped is-grouped-right">
                                <p class="control">
                                    <button
                                            :disabled="isWaiting"
                                            class="button is-primary button_navigate"
                                            v-on:click="stepBack"
                                            type="button">
                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#left-arrow"></use>
                                            </svg>
                                        </span>

                                        <span>
                                            назад
                                        </span>
                                    </button>
                                </p>
                                <p class="control">
                                    <button
                                            :class="{'is-loading': isWaiting}"
                                            class="button is-primary button_navigate"
                                            data-type="submit"
                                            type="submit">
                                        <span>
                                            продолжить
                                        </span>

                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#right-arrow"></use>
                                            </svg>
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </form>


                        <form v-on:submit.prevent="goStep(7)" v-show="step == 6">
                            <div class="field" :class="{'has-errors': errors.services}">
                                <label class="label">
                                    Услуги компании
                                </label>

                                <div class="field-info">
                                    <p>
                                        Обязательно укажите перечень услуг предоставляемых вашей компанией (если вы
                                        занимаетесь только продажами - пропустите данный шаг).
                                    </p>
                                    <p>
                                        Если нужной вам услуги нет - <a href="mailto:help@houserepair.info">сообщите
                                        нам</a>.
                                    </p>
                                </div>

                                <div
                                        class="field-error"
                                        v-show="errors.services"
                                        v-html="printErorrs(errors.services)">
                                </div>


                                <div class="control">
                                    <services-input v-model="companyData.services">
                                    </services-input>
                                </div>
                            </div>


                            <div class="company-form-page__divider"></div>


                            <div class="field is-grouped is-grouped-right">
                                <p class="control">
                                    <button
                                            :disabled="isWaiting"
                                            class="button is-primary button_navigate"
                                            v-on:click="stepBack"
                                            type="button">
                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#left-arrow"></use>
                                            </svg>
                                        </span>

                                        <span>
                                            назад
                                        </span>
                                    </button>
                                </p>
                                <p class="control">
                                    <button
                                            :class="{'is-loading': isWaiting}"
                                            class="button is-primary button_navigate"
                                            data-type="submit"
                                            type="submit">
                                        <span>
                                            продолжить
                                        </span>

                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#right-arrow"></use>
                                            </svg>
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </form>


                        <form v-on:submit.prevent="saveData()" v-show="step == 7">

                            <company-final-info
                                    ref="finalInfo"
                                    :form-mode="mode"
                                    :company-data="companyData"
                                    :improve-list="companyImproveList">
                            </company-final-info>

                            <div class="company-form-page__divider"></div>


                            <div class="field is-grouped is-grouped-right">
                                <p class="control">
                                    <button
                                            :disabled="isWaiting"
                                            class="button is-primary button_navigate"
                                            v-on:click="stepBack"
                                            type="button">

                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#left-arrow"></use>
                                            </svg>
                                        </span>

                                        <span>
                                            назад
                                        </span>
                                    </button>
                                </p>
                                <p class="control">
                                    <button
                                            :class="{'is-loading': isWaiting}"
                                            class="button is-warning button_navigate"
                                            data-type="submit"
                                            type="submit">

                                        <span class="icon">
                                            <svg>
                                                <use xlink:href="#save-company"></use>
                                            </svg>
                                        </span>

                                        <span>
                                            {{ saveButtonTitle }}
                                        </span>
                                    </button>
                                </p>
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        </div>

    </div>
</template>


<script type="text/babel">
    const ROUTES = {
        save: '/api/companies/',
        getCompanyData: '/api/companies/',
        preValidate: '/api/companies/validate',
        getCategories: '/api/company-form/categories',
    };

    import axios from 'axios';

    import Quill from 'quill';
    import 'quill/dist/quill.core.css'
    import 'quill/dist/quill.snow.css'
    import 'quill/dist/quill.bubble.css'

    import categoriesChosen from './company-form/categories-chosen.vue';
    import imagesUploader from './company-form/images-uploader.vue';
    import contactsInput from './company-form/contacts-input.vue';
    import addressesInput from './company-form/addresses-input.vue';
    import servicesInput from './company-form/services-input.vue';
    import phoneInput from './company-form/phone-input.vue';
    import formSteps from './company-form/form-steps.vue';
    import companyFinalInfo from './company-form/company-final-info.vue';


    let prepareCompanyData = (rawData) => {
        let clearData = {
            categories: rawData.categories,
            id: rawData.id,
            info: rawData.info,
            name: rawData.name,
            specialization: rawData.specialization,
            contacts: rawData.contacts,
            phone: rawData.phone,
            addresses: rawData.addresses,
            services: rawData.services,
            images: [],
        };

        if (rawData.images) {
            rawData.images.forEach((image) => {
                clearData.images.push(image.original);
            });
        }

        return clearData;
    };


    export default {
        props: {
            mode: String,
            updateCompanyId: Number
        },
        components: {
            categoriesChosen,
            imagesUploader,
            addressesInput,
            servicesInput,
            contactsInput,
            phoneInput,
            formSteps,
            companyFinalInfo,
        },
        data() {
            return {
                companyData: {},
                fieldsForValidation: {
                    step1: ["specialization", "name", "categories"],
                    step2: ["info"],
                    step3: ["images"],
                    step4: ["phone", "contacts"],
                    step5: ["addresses"],
                    step6: ["services"],
                },
                errors: {},
                isReady: false,
                isWaiting: false,
                step: 1,
                companyImproveList: [],
            }
        },
        computed: {
            saveButtonTitle() {
                if (this.mode == "update") {
                    return "завершить редактирование и сохранить";
                } else {
                    return "разместить объявление на сайте";
                }
            }
        },
        methods: {
            freezeForm() {
                let vue = this;

                vue.isWaiting = true;
            },
            unFreezeForm() {
                let vue = this;

                vue.isWaiting = false;
            },
            stepBack() {
                let vue = this;
                vue.step -= 1;
            },
            async goStep(stepNum) {
                let vue = this;

                vue.freezeForm();
                let formIsValid = await vue.preValidate(vue.step);

                vue.unFreezeForm();

                if (formIsValid) {
                    vue.step = stepNum;
                }
            },
            async preValidate(stepNum) {
                let result = true,
                    vue = this;

                await axios.post(ROUTES.preValidate, vue.companyData)
                    .then(function (response) {
                        vue.errors = {};
                        vue.companyImproveList = response.data.improveList;
                    })
                    .catch(function (errorResponse) {
                        vue.errors = {};

                        if (errorResponse.response.status == "403") {
                            vue.showMessage("Ошибка при сохранении данных. Обновите страницу.");
                            result = false;
                        }

                        if (errorResponse.response.status == "422") {
                            for (let errorName in errorResponse.response.data.errors) {
                                if (vue.fieldsForValidation['step' + stepNum].indexOf(errorName) !== -1) {
                                    vue.errors[errorName] = errorResponse.response.data.errors[errorName];
                                    result = false;
                                }
                            }
                        }
                    });

                return result;
            },
            saveData() {
                let vue = this;

                vue.freezeForm();

                if (vue.mode == "update") {
                    axios.patch(ROUTES.save + vue.updateCompanyId, vue.companyData)
                        .then(function (response) {
                            vue.unFreezeForm();
                            window.location.href = response.data.link + "?ac=ref";
                        })
                        .catch(function (error) {
                            vue.errors = error.response.data.errors;
                            vue.unFreezeForm();
                        });
                } else {
                    axios.post(ROUTES.save, vue.companyData)
                        .then(function (response) {
                            vue.unFreezeForm();
                            window.location.href = response.data.link + "?ac=ref";
                        })
                        .catch(function (error) {
                            vue.errors = error.response.data.errors;
                            vue.unFreezeForm();
                        });
                }
            },
            printErorrs(errorsList) {
                if (errorsList) {
                    return "<p>" + errorsList.join("<br>") + "</p>";
                } else {
                    return "";
                }
            },
            showMessage(text) {
                alert(text);
            },
            updateCategories(newValue) {
                let vue = this;

                vue.companyData.categories = newValue;
            },
            updateImages(newValue) {
                let vue = this;

                vue.companyData.images = newValue;
            },
            initTextEditor() {
                let vue = this,
                    toolbarOptions = [
                        ['bold', 'italic', 'underline'],
                        [{'list': 'ordered'}, {'list': 'bullet'}],
                        ['clean']
                    ],
                    quill = new Quill(vue.$refs.texteditor, {
                        modules: {
                            toolbar: toolbarOptions
                        },
                        theme: 'snow',
                        // placeholder: "Большой текст не читают, а путой не интересен"
                    });

                if (vue.companyData.info) {
                    quill.pasteHTML(vue.companyData.info);
                }

                quill.on('text-change', (delta, oldDelta, source) => {
                    let html = this.$refs.texteditor.children[0].innerHTML;

                    // const text = this.quill.getText()
                    if (html === '<p><br></p>') {
                        html = '';
                    }

                    vue.companyData.info = html;
                });
            }
        },
        async mounted() {
            let vue = this;

            await axios
                .get(ROUTES.getCategories)
                .then(function (response) {
                    vue.$refs.categoriesChosen.setCategories(response.data);
                })
                .catch(function (error) {
                });


            if (vue.mode == "update") {
                await axios.get(ROUTES.getCompanyData + vue.updateCompanyId)
                    .then(response => {
                        vue.companyData = prepareCompanyData(response.data);

                        vue.$refs.imagesUploader.setValue(response.data.images);
                        vue.$refs.categoriesChosen.setValue(vue.companyData.categories);
                    })
                    .catch(error => {
                        console.log(error);
                    });

                vue.companyData.action = "update";
            } else {
                vue.companyData.action = "create";
            }


            vue.initTextEditor();

            vue.isReady = true;
        },
    }
</script>