<style lang="sass" rel="stylesheet/sass">
    @import "~bulma/sass/utilities/initial-variables"
    @import "~bulma/sass/utilities/mixins"

    .company-gallery
        &__images
            font-size: 0
            line-height: 0
            text-align: right

            +mobile
                text-align: left

            a
                display: inline-block
                width: 20%
                padding: 0 1px 2px

                img
                    width: 100%
                    height: auto

        &__load-more
            margin-top: 5px
            padding: 0 1px 0

            a
                display: flex
                align-items: center
                justify-content: center
                width: 100%
                height: 30px
                background-color: rgba(255, 202, 40, 0.55)
                color: #fff

                &:hover
                    background-color: rgb(255, 202, 40)
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div>
        <div class="company-gallery__images" ref="images">
            <slot name="images"></slot>
        </div>

        <div class="company-gallery__load-more" v-show="!allImagesShown" v-on:click.prevent="showAllImages">
            <a href="#">еще {{ hiddenImagesCount }} фото</a>
        </div>
    </div>
</template>


<script type="text/babel">
    const imagesDefaultShowenLimit = 15;

    export default {
        props: {},
        data() {
            return {
                allImagesShown: false,
                hiddenImagesCount: 0
            }
        },
        methods: {
            showAllImages() {
                let vue = this;
                let links = vue.$refs.images.getElementsByTagName("a");

                vue.allImagesShown = true;

                for (let num = imagesDefaultShowenLimit; num < links.length; num++) {
                    links[num].style.display = "inline-block";
                }
            }
        },
        mounted() {
            let vue = this;
            let links = vue.$refs.images.getElementsByTagName("a");

            if (links.length > imagesDefaultShowenLimit) {
                for (let num = imagesDefaultShowenLimit; num < links.length; num++) {
                    links[num].style.display = "none";
                }

                vue.hiddenImagesCount = links.length - imagesDefaultShowenLimit;
            } else {
                vue.allImagesShown = true;
            }


            vue.$refs.images.onclick = function (event) {
                event = event || window.event;
                event.preventDefault();

                let target = event.target || event.srcElement,
                    link = target.src ? target.parentNode : target,
                    options = {index: link, event: event},
                    links = this.getElementsByTagName('a');

                vue.$emit("img-click", links, options);
            };


            vue.$refs.images.firstChild.style.display = "block";
        },
    }
</script>