<style lang="sass" rel="stylesheet/sass">
    .limit-text
        &__text
            overflow: hidden

        &__show-more
            margin: 0 -10px
            padding: 10px
            height: 70px
            transform: translateY(-58px)
            background: linear-gradient(to top, #fff 60%, transparent)
            display: flex
            align-items: flex-end

            a
                font-size: 13px
                color: #b58a05

</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div>
        <div ref="text" class="limit-text__text" style="display: none">
            <slot></slot>
        </div>

        <div class="limit-text__show-more" v-show="!showAllText">
            <a href="" v-on:click.prevent="showFullText">
                показать текст полностью
            </a>
        </div>
    </div>
</template>


<script type="text/babel">
    export default {
        props: {
            heightLimit: Number
        },
        data() {
            return {
                showAllText: true
            }
        },
        methods: {
            showFullText(){
                let vue = this;
                vue.$refs.text.style.height = "auto";
                vue.showAllText = true;
            }
        },
        mounted() {
            let vue = this;

            vue.$refs.text.style.display = "block";

            if(vue.$refs.text.offsetHeight > vue.heightLimit){
                vue.$refs.text.style.height = vue.heightLimit + "px";
                vue.showAllText = false;
            }
        },
    }
</script>