<style lang="sass" rel="stylesheet/sass">
    .close
        font-family: sans-serif
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
    </div>
</template>


<script type="text/babel">
    import 'blueimp-gallery/css/blueimp-gallery.css'
    import blueimpGallery from 'blueimp-gallery';


    export default {
        props: {},
        data() {
            let vue = this;

            return {}
        },
        methods: {
            runGallery(links, options) {
                blueimpGallery(links, options);
            }
        },
        mounted() {
            this.$on('runGallery', this.runGallery);
        },
    }
</script>