<style lang="sass" rel="stylesheet/sass">
    @import "../styles/base_variables"
    @import "~bulma/sass/utilities/initial-variables"
    @import "../styles/bulma/variables"
    @import "~bulma/sass/utilities/mixins"

    .user-comment
        margin: 0 0 0 0
        padding: 0 0 15px 0

        &:last-child
            .user-comment__decorate
                +mobile
                    border-bottom: none

        &__avatar
            width: 60px
            height: 60px
            margin: 10px 0 0 0

        &__name
            font-size: 15px
            font-weight: bold

        &__date
            font-size: 15px
            color: #999
            text-transform: lowercase

        &__text
            margin-top: -15px
            font-size: 15px

            &__more
                font-size: 14px

        &__decorate
            border: 1px solid #e8e8e8
            border-radius: 10px
            position: relative

            +tablet
                padding: 15px 20px

            +mobile
                border: none
                border-bottom: 1px solid #e8e8e8
                border-radius: 0
                padding-bottom: 20px

            &:after
                content: ""
                width: 20px
                height: 20px
                border-top: 1px solid transparent
                border-right: 1px solid transparent
                border-bottom: 1px solid #e8e8e8
                border-left: 1px solid #e8e8e8
                position: absolute
                top: 28px
                left: -10px
                z-index: 100
                background-color: #fff
                transform: rotate(45deg)

                +mobile
                    display: none

</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <article class="user-comment">
        <div class="columns">
            <div class="column is-narrow is-hidden-mobile">
                <figure class="user-comment__avatar">
                    <img :src="user.src">
                </figure>
            </div>

            <div class="column">
                <div class="user-comment__decorate">
                    <div class="columns is-mobile">
                        <div class="column">
                            <div class="user-comment__name">
                                {{ user.name }}
                            </div>
                        </div>

                        <div class="column has-text-right">
                            <time class="user-comment__date">
                                {{ date }}
                            </time>
                        </div>
                    </div>


                    <div class="user-comment__text">
                        {{ textDisplay }}
                        &nbsp;
                        <a
                                v-on:click.prevent="showFullText"
                                v-show="showMoreLink"
                                class="user-comment__text__more">
                            показать&nbsp;весь&nbsp;отзыв
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </article>
</template>


<script type="text/babel">
    const WORDLIMIT = 50;

    export default {
        props: {
            user: Object,
            text: String,
            date: String
        },
        data() {
            return {
                showMoreLink: false,
                textFull: "",
                textShort: "",
                textDisplay: ""
            };
        },
        methods: {
            showFullText() {
                this.showMoreLink = false;
                this.textDisplay = this.textFull;
            }
        },
        mounted() {
            this.textFull = this.text;

            if (this.text.match(/\S+/g).length > WORDLIMIT) {
                this.showMoreLink = true;
                this.textShort = this.textFull.split(/\s+/, WORDLIMIT).join(" ") + "...";
                this.textDisplay = this.textShort;
            } else {
                this.textDisplay = this.textFull;
            }
        },
    }
</script>