<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

    .user-company-preview
        display: block
        margin-bottom: 10px
        border: 1px solid #eee
        padding: 10px 15px

        &__title
            font-weight: bold
            font-family: $font_family_headers
            text-transform: uppercase

        &__specialization
            color: #777

        &__addresses
            margin-top: -10px
            font-size: 14px


</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="user-company-preview">
        <div class="columns">
            <div class="column">
                <a :href="company.link" class="user-company-preview__title">
                    {{ company.name }}
                </a>

                <div class="user-company-preview__specialization">
                    {{ company.specialization }}
                </div>
            </div>

            <div class="column is-narrow">
                добавлено: {{ company.created }}
            </div>
        </div>


        <div class="field is-grouped">
            <p class="control">
                <a :href="routes.edit" class="button is-small is-outlined">
                    редактировать
                </a>

                <!--<a href="#" class="button is-small is-outlined" v-on:click.prevent="hideCompany">-->
                <!--скрыть объявление-->
                <!--</a>-->

                <!--<a href="#" class="button is-small is-outlined" v-on:click.prevent="showCompany">-->
                <!--включить для отображения-->
                <!--</a>-->
            </p>

            <p class="control">
                <a href="#" class="button is-danger is-small is-outlined" v-on:click.prevent="removeCompany">
                    удалить
                </a>
            </p>
        </div>
    </div>
</template>


<script type="text/babel">
    import axios from 'axios';

    const apiPath = "/api/company/";

    export default {
        props: {
            company: Object,
        },
        data() {
            return {
                routes: {
                    edit: "/profile/companies/" + this.company.id + "/edit/",
                    update: apiPath + this.company.id,
                    remove: apiPath + this.company.id
                }
            };
        },
        methods: {
            hideCompany() {
            },
            showCompany() {
            },
            removeCompany() {
                if (confirm("Удалить объявление «" + this.company.name + "»?")) {
                    axios
                        .delete(this.routes.remove)
                        .then(function (response) {
                            window.location.reload();
                        });
                }
            },
        },
        mounted() {
            axios.defaults.headers.common['X-CSRF-TOKEN'] = document.querySelector('#token').getAttribute('value');
        },
    }
</script>