<style lang="sass" rel="stylesheet/sass" scoped>
    @import "../../styles/base_variables"

    .category-filter
        a
            color: #ccc
            font-size: 13px
            line-height: 17px

            &:hover
                color: #fff

        .master-categories
            margin-bottom: 20px

            &__link
                text-transform: uppercase
                display: block
                margin-bottom: 10px

                &:before
                    display: inline-block
                    width: 10px
                    height: 10px
                    border: 1px solid #ccc
                    border-bottom-color: transparent
                    border-right-color: transparent
                    content: ''
                    margin: 0 10px 0 5px
                    transform: rotate(135deg)
                    transition: all .2s

                &.is-active
                    &:before
                        transform: rotate(225deg)

        .sub-categories
            padding-left: 28px
            margin-top: 10px
            margin-bottom: 25px

            &__link
                display: block
                margin-bottom: 8px

                &.is-active
                    color: $base_color_yellow

</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

    <div class="category-filter">
        <div style="margin-bottom: 20px">
            <!--current: {{ category.name }}-->
        </div>

        <ul class="master-categories">
            <li v-for="masterCategory in categories">
                <a
                        class="master-categories__link"
                        :class="{'is-active': getMasterCategoryDisplayStatus(masterCategory.id)}"
                        v-on:click.prevent="toggleSubcategories(masterCategory.id)">
                    {{ masterCategory.name }}
                </a>

                <ul v-show="getMasterCategoryDisplayStatus(masterCategory.id)" class="sub-categories">
                    <li v-for="subCategory in masterCategory.categories">
                        <a
                                class="sub-categories__link"
                                :class="{'is-active': activeCategoryId == subCategory.id}"
                                href="#"
                                v-on:click.prevent="selectCategory(subCategory.id)">
                            {{ subCategory.name }}
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>

</template>


<script type="text/babel">
    import {mapState, mapGetters} from 'vuex';

    export default {
        data() {
            return {
                masterCategoryDisplayed: [],
            };
        },
        computed: {
            ...mapState({
                categories: state => state.companies.categoriesTree,
            }),
            ...mapGetters({
                activeCategoryId: "companies/filterCategory",
            }),
        },
        methods: {
            selectCategory(categoryId) {
                if (this.activeCategoryId == categoryId) {
                    this.$store.dispatch("companies/setFilterParam", {category: null});
                } else {
                    this.$store.dispatch("companies/setFilterParam", {category: categoryId});
                }
            },
            toggleSubcategories(masterCategoryId) {
                if (this.masterCategoryDisplayed.filter(_id => _id == masterCategoryId).length) {
                    this.masterCategoryDisplayed.splice(this.masterCategoryDisplayed.indexOf(masterCategoryId), 1);
                } else {
                    this.masterCategoryDisplayed.push(masterCategoryId);
                }
            },
            getMasterCategoryDisplayStatus(masterCategoryId) {
                return this.masterCategoryDisplayed.filter(_id => _id == masterCategoryId).length ? true : false;
            }
        },
    }
</script>