<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

    .company-preview
        display: block
        margin-bottom: 10px
        border: 1px solid #eee
        padding: 10px 15px

        &__title
            font-weight: bold
            font-family: $font_family_headers
            text-transform: uppercase

        &__specialization
            color: #777

        &__addresses
            margin-top: -10px
            font-size: 14px

        &__stats
            display: inline-flex

        &__counter
            padding-left: 5px !important
            padding-right: 5px !important
            min-width: 45px

            svg
                width: 16px
                height: 16px
                margin-right: 5px

        .tooltip:hover:before
            text-transform: uppercase
            font-size: 13px

</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <article class="company-preview">

        <div class="columns">
            <div class="column">
                <a :href="company.link" class="company-preview__title">
                    {{ company.name }}
                </a>

                <div class="company-preview__specialization" v-if="company.specialization">
                    {{ company.specialization }}
                </div>
            </div>

            <div class="column is-narrow">
                <span
                        v-show="company.images_count"
                        class="tag is-light company-preview__counter tooltip is-tooltip-left"
                        :data-tooltip="imagesTooltip(company.images_count)">
                    <svg>
                        <use xlink:href="#company-images"></use>
                    </svg>

                    {{ company.images_count }}
                </span>

                <span
                        v-show="company.comments_count"
                        class="tag is-light company-preview__counter tooltip is-tooltip-left"
                        :data-tooltip="commentsTooltip(company.comments_count)">
                    <svg>
                        <use xlink:href="#company-comments"></use>
                    </svg>

                    {{ company.comments_count }}
                </span>

                <span
                        v-show="company.services_count"
                        class="tag is-light company-preview__counter tooltip is-tooltip-left"
                        :data-tooltip="servicesTooltip(company.services_count)">
                    <svg>
                        <use xlink:href="#company-services"></use>
                    </svg>

                    {{ company.services_count }}
                </span>


                <span class="title is-6" v-if="company.price">
                    {{ company.price }} руб./ {{ company.unit_type }}
                </span>
            </div>
        </div>

    </article>
</template>


<script type="text/babel">
    import {decline} from '../../js/utilites/content';

    export default {
        props: {
            company: {
                type: Object,
                require: true
            }
        },
        methods: {
            servicesTooltip(count) {
                return 'прайс лист ' + decline(count, ' не заполнен', 'с одной услугой', ' из %n услуг', ' из %n услуг');
            },
            commentsTooltip(count) {
                return decline(count, 'без отзывов клиентов', 'один отзыв от клиента', '%n отзыва от клиента', '%n отзывов от клиентов');
            },
            imagesTooltip(count) {
                return decline(count, 'без фото работ', 'одно фото работ', '%n фото работ', '%n фото работ');
            },
        },
    }
</script>