<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

    .company-list
        &__header

        &__empty
            display: block
            height: 27px
            width: 100%
            display: flex
            align-items: center
            justify-content: center

            span
                font-size: 25px
                margin-left: 10px

        &__preloader
            display: block
            height: 27px
            width: 100%
            display: flex
            align-items: center
            justify-content: center
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <section class="company-list">
        <div class="company-list__header">
            <h1 class="list-title">
                {{ pageTitle }}
            </h1>

            <div class="list-subtitle">
                {{ pageSubTitle }}
            </div>
        </div>

        <div>
            <ul>
                <li v-for="company in companies">
                    <company-preview :company="company"></company-preview>
                </li>
            </ul>

            <strong v-show="isWaiting" class="company-list__preloader">загружаем...</strong>

            <strong
                    class="company-list__empty"
                    v-show="!companies.length && !isWaiting">
                К сожалению, мы ничего не нашли <span>😬</span>
            </strong>

            <load-next v-show="!isWaiting"></load-next>

        </div>
    </section>
</template>


<script type="text/babel">
    import {mapState, mapGetters, mapActions} from 'vuex';
    import companyPreview from './company-preview.vue';
    import loadNext from './load-next.vue';

    export default {
        props: {
            initialCategory: {
                type: Number,
            }
        },
        components: {
            companyPreview,
            loadNext,
        },
        computed: {
            ...mapState({
                companies: state => state.companies.items,
                pagination: state => state.companies.pagination,
                pageTitle: state => state.companies.pageTitle,
                pageSubTitle: state => state.companies.pageSubTitle,
            }),
            ...mapGetters('companies', {
                isWaiting: 'isWaiting'
            }),
        },
        methods: {
            ...mapActions('companies', {
                fetchCompanies: 'fetchCompanies',
            }),
        },
        mounted() {
            if (this.initialCategory) {
                this.$store.dispatch('companies/setFilterParam', {category: this.initialCategory});
            } else {
                this.fetchCompanies();
            }
        }
    };
</script>