<style lang="sass" rel="stylesheet/sass" scoped>
    @import "../../styles/base_variables"

    .filter
        &__item
            margin-bottom: 5px

            &_search
                margin-bottom: 20px

            &_category-select
                margin-top: 20px

            &:last-child
                margin-bottom: 0

            label
                text-transform: uppercase

        &__search-icon
            width: 15px
            height: 15px

        .switch[type=checkbox].is-small + label
            padding-top: 2px

        .switch[type=checkbox].is-warning:checked + label:before
            background-color: rgba($base_color_yellow, .7)

        .switch[type=checkbox] + label:before
            background-color: rgba(#b5b5b5, .4)


</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

    <div class="filter">
        <form v-on:submit.prevent="updateFilterData">
            <div class="filter__item filter__item_search">
                <div class="field has-addons">
                    <div class="control is-expanded">
                        <input class="input is-small"
                               v-model="filter.search"
                               type="text"
                               placeholder="электрик, сантехник">
                    </div>

                    <div class="control">
                        <button type="submit" class="button is-info is-small">
                            <svg class="filter__search-icon">
                                <use xlink:href="#filter-search"></use>
                            </svg>
                        </button>
                    </div>
                </div>
            </div>

            <div class="filter__item">
                <input class="switch is-rounded is-warning is-small"
                       id="images"
                       v-on:change="updateFilterData"
                       v-model="filter.images"
                       type="checkbox">

                <label for="images">
                    <span class="is-hidden-touch">
                        Есть фото работ
                    </span>
                    <span class="is-hidden-desktop">
                        С фото работ
                    </span>
                </label>
            </div>

            <div class="filter__item">
                <input class="switch is-rounded is-warning is-small"
                       id="comments"
                       v-on:change="updateFilterData"
                       v-model="filter.comments"
                       type="checkbox">

                <label for="comments">
                    <span class="is-hidden-touch">
                        Есть отзывы клиентов
                    </span>
                    <span class="is-hidden-desktop">
                        С отзывами
                    </span>
                </label>
            </div>

            <div class="filter__item">
                <input class="switch is-rounded is-warning is-small"
                       id="services"
                       v-on:change="updateFilterData"
                       v-model="filter.services"
                       type="checkbox">

                <label for="services">
                    <span class="is-hidden-touch">
                        Есть прайс-лист услуг
                    </span>
                    <span class="is-hidden-desktop">
                        С услугами
                    </span>
                </label>
            </div>

            <div class="filter__item filter__item_category-select">
                <category-select></category-select>
            </div>
        </form>
    </div>

</template>


<script type="text/babel">
    import categorySelect from './category-select.vue';

    export default {
        components: {
            categorySelect,
        },
        data() {
            return {
                filter: {
                    search: "",
                    images: false,
                    comments: false,
                    services: false,
                }
            }
        },
        computed: {},
        methods: {
            updateFilterData() {
                const newValue = {...this.filter};
                this.$store.dispatch('companies/setFilterParam', newValue);
            },
        },
    }
</script>