<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

    <div>
        <button
                :disabled="disabled"
                class="button is-small is-fullwidth"
                v-on:click="loadNextPage"
                v-show="pagination && (pagination.balance > 0)">
            {{ title }}
        </button>
    </div>

</template>


<script type="text/babel">
    import {mapState, mapGetters, mapActions} from 'vuex';

    export default {
        props: {
            disabled: {
                type: Boolean
            },
        },
        computed: {
            ...mapState({
                pagination: state => state.companies.pagination,
            }),
            title() {
                if (this.pagination) {
                    return "Загрузить еще " + this.pagination.balance;
                } else {
                    return "";
                }
            }
        },
        methods: {
            ...mapActions('companies', {
                loadNextPage: 'loadNextPage',
            })
        },
    }
</script>