<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

    .pointer-map
        padding: 15px
        border: 1px solid #bbb
        margin-bottom: 30px

        &__map
            background-color: #fff
            height: 250px
            margin: -15px -15px 10px

            &__preloader
                width: 100%
                height: 240px
                display: flex
                align-items: center
                justify-content: center
                background-color: #fff

        .label
            font-weight: normal !important
            font-size: 14px

        .field
            margin-bottom: 2px !important

        &__center-point
            position: absolute
            width: 40px
            height: 40px

            svg
                width: 40px
                height: 40px

        &__actions
            text-align: right
            padding-top: 30px

</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="pointer-map">

        <div class="pointer-map__center-point" v-show="mapIsReady">
            <svg>
                <use xlink:href="#map-point"></use>
            </svg>
        </div>

        <div class="pointer-map__map" ref="map">
            <div class="pointer-map__map__preloader" v-if="!mapIsReady">
                загружаем карту ...
            </div>
        </div>

        <div>
            <i>
                Передвигайте карту для указания местоположения
            </i>
        </div>

        <hr>

        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Адрес</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input
                                v-model="internalValue.address"
                                placeholder="адрес"
                                class="input is-small"
                                type="text"
                        >
                    </div>
                </div>
            </div>
        </div>


        <div class="field is-horizontal">
            <div class="field-label is-normal">
                <label class="label">Примечание</label>
            </div>
            <div class="field-body">
                <div class="field">
                    <div class="control">
                        <input
                                v-model="internalValue.info"
                                placeholder="например, офис, склад или магазин"
                                class="input is-small"
                                type="text"
                        >
                    </div>
                </div>
            </div>
        </div>


        <div class="pointer-map__actions">
            <button
                    v-on:click="$emit('delete')"
                    type="button"
                    class="button is-danger is-outlined is-small">

                <span class="icon">
                    <svg>
                        <use xlink:href="#map-remove"></use>
                    </svg>
                </span>

                <span>
                    удалить данный адрес
                </span>

            </button>
        </div>
    </div>
</template>


<script type="text/babel">
    function CrossControl(options) {
        this.events = new ymaps.event.Manager();
        this.options = new ymaps.option.Manager();
    }

    CrossControl.prototype = {
        constructor: CrossControl,
        setParent: function (parent) {
            this.parent = parent;

            if (parent) {
                let map = this._map = parent.getMap();
                this._setPosition(map.container.getSize());
                this._setupListeners();
                this.layout = new this.constructor.Layout({options: this.options});
                this.layout.setParentElement(map.panes.get('events').getElement());
            } else {
                this.layout.setParentElement(null);
                this._clearListeners();
            }

            return this;
        },
        getParent: function () {
            return this.parent;
        },
        _setPosition: function (size) {
            this.options.set('position', {
                top: size[1] / 2 - 40,
                right: size[0] / 2 - 20
            });
        },
        _onPositionChange: function (e) {
            this._setPosition(e.get('newSize'));
        },
        _setupListeners: function () {
            this._map
                .container
                .events
                .add('sizechange', this._onPositionChange, this);
        },
        _clearListeners: function () {
            if (this._map) {
                this._map
                    .container
                    .events
                    .remove('sizechange', this._onPositionChange, this);
            }
        }
    };

    let yMapHandler = {
        isReady: false,
        isStartInit: false,
        callbacks: [],
        createNewMap(mapNode, centerCoordinates) {
            mapNode.innerHTML = "";
            let map = new ymaps.Map(mapNode, {
                center: centerCoordinates,
                zoom: 17,
                controls: [],
            }, {suppressMapOpenBlock: true});

            map.controls.add(new CrossControl);
            map.behaviors.disable('scrollZoom');

            map.controls.add(
                new ymaps.control.ZoomControl()
            );

            return map;
        },
        bindDragGeocoder(map, setValueCallback) {
            let stopDragMapAction = () => {
                    let coordinates = map.getCenter();

                    ymaps.geocode(coordinates).then(function (res) {
                        let firstGeoObject = res.geoObjects.get(0);

                        setValueCallback(firstGeoObject.getAddressLine(), coordinates);
                    });
                },
                stopDragTimer = null;

            map.events.add('actiontick', function (e) {
                if (stopDragTimer) {
                    clearTimeout(stopDragTimer);
                }

                stopDragTimer = setTimeout(() => {
                    stopDragMapAction();
                }, 1000);
            });

            map.events.add('actionend', function (e) {
                if (stopDragTimer) {
                    clearTimeout(stopDragTimer);
                }

                stopDragMapAction();
            });
        },
        init(mapNode, centerCoordinates, setValueCallback, afterInitCallback) {
            if (yMapHandler.isReady) {
                let map = yMapHandler.createNewMap(mapNode, centerCoordinates);

                yMapHandler.bindDragGeocoder(map, setValueCallback);
                afterInitCallback();
            } else {
                this.callbacks.push(() => {
                    let map = yMapHandler.createNewMap(mapNode, centerCoordinates);

                    yMapHandler.bindDragGeocoder(map, setValueCallback);
                    afterInitCallback();
                });

                if (!this.isStartInit) {
                    this.isStartInit = true;

                    let yMapScript = document.createElement('script');

                    yMapScript.type = 'text/javascript';
                    yMapScript.src = 'https://api-maps.yandex.ru/2.1/?lang=ru_RU';

                    yMapScript.onload = () => {
                        ymaps.ready(() => {
                            CrossControl.Layout = ymaps.templateLayoutFactory.createClass(
                                '<div class="pointer-map__center-point" style="right:$[options.position.right]px; top:$[options.position.top]px;"><svg><use xlink:href="#map-point"></use></svg></div>'
                            );

                            yMapHandler.callbacks.forEach((fn) => {
                                fn();
                            });

                            yMapHandler.isReady = true;
                        });
                    };

                    document.body.appendChild(yMapScript);
                }
            }
        },
    };


    export default {
        props: ['value'],
        data() {
            return {
                internalValue: {},
                mapIsReady: false
            };
        },
        watch: {
            internalValue: {
                handler(newValue, oldValue) {
                    this.$emit('input', this.internalValue);
                },
                deep: true,
            },
            value(newValue, oldValue) {
                this.internalValue = newValue;
            }
        },
        created: function () {
            this.internalValue = this.value;
        },
        methods: {
            setAddressAndCoordinates(newAddress, newCoordinates) {
                this.internalValue.address = newAddress;
                this.internalValue.coordinates = newCoordinates;
            }
        },
        mounted() {
            yMapHandler.init(this.$refs.map, this.value.coordinates, this.setAddressAndCoordinates, () => {
                this.mapIsReady = true;
            });
        },
    }
</script>