<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

    .addresses-input
        margin-top: 30px

        &__controls
            padding: 15px
            border: 1px dashed #bbb
            text-align: right

</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="control addresses-input">

        <template v-for="(address, index) in internalValue">

            <address-input
                    v-on:delete="internalValue.splice(index, 1)"
                    v-model="internalValue[index]" :key="index">
            </address-input>

        </template>


        <div class="addresses-input__controls">
            <button
                    v-on:click="addNewAddress"
                    type="button"
                    class="button is-small is-outlined is-dark">

                <span class="icon">
                    <svg>
                        <use xlink:href="#add-contact"></use>
                    </svg>
                </span>

                <span>
                     {{ addMapTitle }}
                </span>
            </button>
        </div>

    </div>
</template>


<script type="text/babel">
    const DEFAULTCOORDINATES = [56.0107235412458, 92.87100997183748];

    import addressInput from './address-input.vue';

    export default {
        props: ['value'],
        data() {
            return {
                internalValue: []
            };
        },
        components: {
            addressInput
        },
        watch: {
            internalValue(newValue, oldValue) {
                this.$emit('input', this.internalValue);
            },
            value(newValue, oldValue) {
                this.internalValue = newValue ? newValue : [];
            }
        },
        created: function () {
            this.internalValue = this.value ? this.value : [];
        },
        computed: {
            addMapTitle() {
                if (this.internalValue && this.internalValue.length) {
                    return "добавить еще один адрес";
                } else {
                    return "добавить адрес";
                }
            }
        },
        methods: {
            addNewAddress() {
                this.internalValue.push({
                    address: "",
                    info: "",
                    coordinates: DEFAULTCOORDINATES
                });
            },
        },
    }
</script>