<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"
    /*@import "~bulma/sass/utilities/initial-variables"*/
    /*@import "../styles/bulma/variables"*/
    /*@import "~bulma/sass/utilities/mixins"*/

    .company-categories-choice
        padding-top: 6px

        &__type-select
            margin-bottom: 20px
            margin-left: -8px

        &__master-category
            margin: 0 4px 4px 0
            border-radius: 5px

            &_opened
                background-color: rgba(#fff, .4)
                /*margin-top: 7px*/
                /*margin-bottom: 10px*/
                border: 2px solid rgba($base_color_blue, .6)

            &__header
                border-radius: 5px
                background-color: rgba(#fff, .1)
                border: 2px solid rgba($base_color_blue, .1)
                padding: 2px 10px
                cursor: pointer
                color: $base_color_blue
                text-transform: uppercase
                font-size: 16px
                display: flex
                align-items: center

                span
                    font-size: 12px
                    color: #888
                    margin-left: 10px
                    margin-bottom: 2px

                &:hover
                    border: 2px solid rgba($base_color_blue, .6)

                &_opened
                    border: none

                    &:hover
                        border: none

                label
                    text-transform: uppercase
                    font-size: 14px !important

            &__categories
                display: block
                padding: 10px 0


</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="company-categories-choice">

        <div class="company-categories-choice__type-select">
            <input class="is-checkradio"
                   v-model="displayFilter"
                   id="is-service"
                   value="is_service"
                   type="checkbox">

            <label for="is-service">
                Производство и услуги
            </label>


            <input class="is-checkradio"
                   id="is-shop"
                   v-model="displayFilter"
                   value="is_shop"
                   type="checkbox">

            <label for="is-shop">
                Продажа материалов и оборудования
            </label>
        </div>


        <div class="columns is-multiline is-gapless">

            <template v-for="masterCategory in categories">
                <div
                        v-show="filterExists(masterCategory.filterValues)"
                        class="column is-12">

                    <div class="company-categories-choice__master-category"
                         :class="{'company-categories-choice__master-category_opened': masterCategory.showCategories}">


                        <div class="company-categories-choice__master-category__header"
                             :class="{'company-categories-choice__master-category__header_opened': masterCategory.showCategories}"
                             v-on:click="masterCategory.showCategories = !masterCategory.showCategories">
                            {{ masterCategory.name }}
                            <span>{{ getSelectedCategoriesAmount(masterCategory.categories) }}</span>
                        </div>


                        <div class="company-categories-choice__master-category__categories"
                             v-show="masterCategory.showCategories">
                            <div class="columns is-multiline is-gapless">


                                <template v-for="category in masterCategory.categories">
                                    <div class="column is-half" v-show="filterExists(category.filterValues)">

                                        <div class="field">
                                            <input class="is-checkradio"
                                                   v-on:change="updateValue"
                                                   v-model="values"
                                                   :value="category.id"
                                                   :id="'category-' + category.id"
                                                   :name="'category-' + category.id"
                                                   :disabled="(values.length >= max) && (values.indexOf(category.id) === -1)"
                                                   type="checkbox">

                                            <label :for="'category-' + category.id">
                                                {{ category.name }}
                                            </label>
                                        </div>

                                    </div>
                                </template>


                            </div>
                        </div>
                    </div>
                </div>
            </template>

        </div>
    </div>
</template>


<script type="text/babel">
    export default {
        props: {
            items: Array,
            max: Number
        },
        data() {
            return {
                displayFilter: [],
                categories: [],
                values: [],
            };
        },
        methods: {
            getSelectedCategoriesAmount(categories) {
                let vue = this,
                    amount = 0;

                categories.forEach((category) => {
                    if (vue.values.indexOf(category.id) !== -1) {
                        amount++;
                    }
                });


                if (amount > 0) {
                    return "(выбрано: " + amount + ")";
                } else {
                    return null;
                }
            },
            filterExists(itemFilterValues) {
                let vue = this,
                    result = false;

                for (let value in itemFilterValues) {
                    if (vue.displayFilter.indexOf(itemFilterValues[value]) !== -1) {
                        result = true;
                    }
                }

                return result;
            },
            setCategories(newCategories) {
                let vue = this;

                newCategories.forEach((item) => {
                    item.showCategories = false;
                    vue.categories.push(item);
                });
            },
            setValue(newValue) {
                let vue = this;
                vue.values = newValue;

                vue.categories.forEach((masterCategory) => {
                    masterCategory.categories.forEach((category) => {
                        if (vue.values.indexOf(category.id) !== -1) {
                            masterCategory.showCategories = true;
                            category.filterValues.forEach((filterValue) => {
                                if (!vue.filterExists([filterValue])) {
                                    vue.displayFilter.push(filterValue);
                                }
                            });
                        }
                    });
                });
            },
            updateValue() {
                let vue = this;
                vue.$emit('change', vue.values);
            }
        },
        mounted() {
        },
    }
</script>