<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

    .company-final-info
        h2
            margin-bottom: 10px

        p
            text-align: left
            font-style: italic
            font-size: 15px
            line-height: 17px
            margin-bottom: 10px

        ul
            li
                font-size: 15px
                line-height: 15px
                margin-bottom: 5px
                color: $base_color_blue
                display: flex
                align-items: center

                &:before
                    display: inline-flex
                    content: ""
                    margin-right: 10px
                    width: 5px
                    height: 5px
                    border-radius: 50%
                    background-color: $base_color_blue

        &__conclusion
            margin-bottom: 20px
            padding-bottom: 20px
            border-bottom: 1px solid #ccc

            p
                font-size: 17px
                line-height: 19px

        &__improve
            position: relative
            padding-left: 80px
            padding-bottom: 20px
            margin-bottom: 20px
            border-bottom: 1px solid #ccc

            svg
                position: absolute
                top: 0px
                left: 10px
                width: 50px
                height: 50px

            p
                font-size: 17px
                line-height: 19px

</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="company-final-info">

        <h2 v-if="formMode == 'update'">
            Редактирование практически завешено
        </h2>
        <h2 v-if="formMode == 'create'">
            Добавление практически завешено
        </h2>


        <div class="company-final-info__conclusion">
            <p>
                Ваше объявление будет доступно на сайте в течении 30 дней. В дальнейшем, для продления размещения -
                нажмите кнопку «продолжить размещение» на странице списка своих объявлений в личном кабинете.
            </p>
            <p>
                Настоятельно рекомендуем указывать только актуальную информацию и фотографии - при поступлении
                нескольких жалоб от пользователей сайта объявление будет удалено. Соответствие цен в прайс листе услуг
                проверяется менеджером.
            </p>
        </div>


        <div class="company-final-info__improve" v-if="improveList.length">
            <svg>
                <use xlink:href="#idea"></use>
            </svg>

            <p>
                Вы можете улучшить свою позицию в общем списке объявлений, если внесете следующие изменения:
            </p>

            <ul>
                <li v-for="info in improveList">
                    {{ info }}
                </li>
            </ul>
        </div>


        <div class="company-final-info__rules">
            <p>
                Размещая объявление, вы подтверждаете согласие с <a href="/advert-rules" target="_blank">правилами
                публикации</a> информации на сайте <a href="https://houserepair.info" target="_blank">houserepair.info</a>
                <br>
                Если у вас остались вопросы или проблемы при добавлении объявления - напишите нам:
                <a href="mailto:houserepair.info" target="_blank">help@houserepair.info</a>
            </p>
        </div>

    </div>
</template>


<script type="text/babel">
    export default {
        props: ['improveList', 'formMode'],
        data: () => {
            return {};
        },
    }
</script>