<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

    .contacts-input
        .is-delete
            cursor: pointer

</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="field is-horizontal">
        <div class="field-label is-normal">
            <label class="label">
                Дополнительные контакты
            </label>

            <div class="field-info">
                <p>
                    Телефоны, ссылка на сайт компании или адрес электронной почты для связи
                </p>
            </div>
        </div>

        <div class="field-body">
            <div class="field">
                <div class="control contacts-input">

                    <div class="field is-grouped is-grouped-multiline">
                        <template v-for="(item, index) in internalValue">
                            <div class="control">
                                <div class="tags has-addons">
                                    <span class="tag">{{ item.value }}</span>
                                    <span
                                            title="Удалить"
                                            v-on:click="value.splice(index, 1)"
                                            class="tag is-delete"></span>
                                </div>
                            </div>
                        </template>
                    </div>


                    <div class="field is-grouped">
                        <div class="select control is-small">
                            <select v-model="type">
                                <option v-for="type in types" v-bind:value="type.name">
                                    {{ type.title }}
                                </option>
                            </select>
                        </div>
                        <p class="control is-expanded">
                            <input
                                    class="input is-small"
                                    type="text"
                                    v-model="newContact"
                                    v-on:keydown.enter.prevent="addNewContact"
                                    :class="{'is-danger': hasError}"
                                    :placeholder="placeholder">
                        </p>
                        <p class="control">
                            <button
                                    v-on:click="addNewContact"
                                    type="button"
                                    class="button is-small is-outlined is-dark">

                                <span class="icon">
                                    <svg>
                                        <use xlink:href="#add-contact"></use>
                                    </svg>
                                </span>

                                <span>
                                    добавить
                                </span>
                            </button>
                        </p>
                    </div>


                </div>
            </div>
        </div>
    </div>
</template>


<script type="text/babel">
    export default {
        props: ['value'],
        data() {
            return {
                internalValue: [],
                types: [
                    {
                        name: "phone",
                        title: "Телефон",
                    },
                    {
                        name: "email",
                        title: "Электронная почта",
                    },
                    {
                        name: "site",
                        title: "Ссылка на сайт",
                    },
                ],
                placeholders: {
                    phone: "например, +7 (923) 233-23-23",
                    email: "например, help@my-company.ru",
                    site: "например, https://my-company.ru",
                },
                type: "phone",
                newContact: "",
                hasError: false,
            };
        },
        computed: {
            placeholder() {
                return this.placeholders[this.type];
            }
        },
        watch: {
            internalValue(newValue, oldValue) {
                this.$emit('input', this.internalValue);
            },
            value(newValue, oldValue) {
                this.internalValue = newValue ? newValue : [];
            }
        },
        created: function () {
            this.internalValue = this.value ? this.value : [];
        },
        methods: {
            addNewContact() {
                this.hasError = false;

                if (this.validate()) {
                    this.internalValue.push({
                        type: this.type,
                        value: this.newContact
                    });

                    this.newContact = "";
                }
            },
            validate() {
                if (!this.newContact) {
                    this.hasError = true;
                    return false;
                }

                return true;
            },
        },
    }
</script>