<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

    .company-form-steps
        margin-bottom: 40px

        @media print, screen and (min-width: 769px)
            .steps.is-thin:not(.is-vertical) .steps-content
                margin-top: .1em
                margin-left: 0

        .steps-segment
            .steps-content
                color: $base_color_gray

                .step-title
                    display: inline-block
                    position: relative
                    text-transform: uppercase
                    font-size: 13px
                    color: #ccc

        .steps-segment.is-active
            .step-title
                color: $base_color_blue

        .steps-segment.is-passed
            .step-title
                color: $base_color_gray
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="company-form-steps">


        <ul class="steps is-thin">
            <li class="steps-segment" :class="{'is-active': position == 1, 'is-passed': position > 1}">
                <span class="steps-marker"></span>
                <div class="steps-content is-divider-content">
                    <div class="step-title">Разделы</div>
                </div>
            </li>
            <li class="steps-segment" :class="{'is-active': position == 2, 'is-passed': position > 2}">
                <span class="steps-marker" :class="{'is-hollow': position == 1}"></span>
                <div class="steps-content is-divider-content">
                    <div class="step-title">Информация</div>
                </div>
            </li>
            <li class="steps-segment" :class="{'is-active': position == 3, 'is-passed': position > 3}">
                <span class="steps-marker" :class="{'is-hollow': position == 2}"></span>
                <div class="steps-content is-divider-content">
                    <div class="step-title">Фото</div>
                </div>
            </li>
            <li class="steps-segment" :class="{'is-active': position == 4, 'is-passed': position > 4}">
                <span class="steps-marker" :class="{'is-hollow': position == 3}"></span>
                <div class="steps-content is-divider-content">
                    <div class="step-title">Контакты</div>
                </div>
            </li>
            <li class="steps-segment" :class="{'is-active': position == 5, 'is-passed': position > 5}">
                <span class="steps-marker" :class="{'is-hollow': position == 4}"></span>
                <div class="steps-content is-divider-content">
                    <div class="step-title">Адрес</div>
                </div>
            </li>
            <li class="steps-segment" :class="{'is-active': position == 6, 'is-passed': position > 6}">
                <span class="steps-marker" :class="{'is-hollow': position == 5}"></span>
                <div class="steps-content is-divider-content">
                    <div class="step-title">Услуги</div>
                </div>
            </li>
            <li class="steps-segment">
                <span class="steps-marker" :class="{'is-hollow': position == 6}"></span>
            </li>
        </ul>


    </div>
</template>


<script type="text/babel">
    export default {
        props: ['position'],
        data() {
            return {};
        },
    }
</script>