<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

    .company-images-uploader
        width: 100%
        user-select: none
        margin-top: 30px

        &__drop-zone
            display: none
            padding: 20px
            width: 100vw
            height: 100vh
            position: fixed
            top: 0
            left: 0
            z-index: 100
            background-color: rgba(#000, .7)

            span
                border: 10px dashed #ccc
                font-size: 24px
                text-transform: uppercase
                text-align: center
                color: #aaa
                display: flex
                align-items: center
                justify-content: center
                width: 100%

            &-active
                display: flex

        &__upload-link
            display: flex

            .button
                font-size: 14px
                line-height: 14px

            &__drop-help
                flex: 2 1 auto
                font-size: 14px
                line-height: 14px
                display: inline-flex
                align-items: center
                border-radius: 2px
                user-select: none
                padding: calc(.375em - 1px) .75em
                justify-content: center
                color: #666
                height: 2.25em
                border: 1px dashed #bbb
                margin-left: 10px

        &__list
            font-size: 0
            line-height: 0
            margin-bottom: 40px

            .column
                padding-bottom: 0
                padding-top: 8px

        &__item
            border: 1px solid $base_color_gray
            position: relative

            &__image
                width: 100%
                height: auto
                min-height: 100px

            &__actions
                padding: 5px
                background-color: rgba(#000, .2)
                display: block
                position: absolute
                top: 5px
                right: 5px
                border-radius: 4px

                &__remove
                    cursor: pointer
                    width: 20px
                    height: 20px
                    display: block
                    opacity: .3
                    padding: 3px

                    &:hover
                        opacity: 1

                    svg
                        width: 14px
                        height: 14px


</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="company-images-uploader">
        <div class="company-images-uploader__list">
            <div class="columns is-multiline is-variable is-1">
                <template v-for="(image, index) in images">

                    <div class="column is-2">
                        <div class="company-images-uploader__item">
                            <img
                                    class="company-images-uploader__item__image"
                                    :src="image.preview">

                            <span class="company-images-uploader__item__actions">
                                <span
                                        v-on:click="images.splice(index, 1); updateValue();"
                                        class="company-images-uploader__item__actions__remove">
                                    <svg>
                                        <use xlink:href="#remove-image"></use>
                                    </svg>
                                </span>
                            </span>
                        </div>
                    </div>

                </template>
            </div>
        </div>


        <div class="company-images-uploader__upload-link">
            <div
                    :class="{'is-loading': isWait}"
                    class="button is-dark is-small is-outlined"
                    ref="upload">

                <span class="icon">
                    <svg>
                        <use xlink:href="#upload-image"></use>
                    </svg>
                </span>

                <span>
                    загрузить фотографии
                </span>
            </div>

            <div class="company-images-uploader__upload-link__drop-help">
                или перенесите файлы сюда
            </div>
        </div>


        <div
                :class="{'company-images-uploader__drop-zone-active': showDrop}"
                class="company-images-uploader__drop-zone"
                ref="drop">
            <span>
                перенесите файлы для загрузки сюда
            </span>
        </div>

    </div>
</template>


<script type="text/babel">
    const TOKEN = document.querySelector('#token').getAttribute('value');


    import Resumable from 'resumablejs';

    export default {
        props: {
            uploadUri: String
        },
        data() {
            return {
                isWait: false,
                showDrop: false,
                images: [],
            };
        },
        methods: {
            setValue(newValue) {
                let vue = this;

                if (newValue) {
                    newValue.forEach((image) => {
                        vue.images.push({
                            preview: image.preview,
                            original: image.original,
                        });
                    });
                }
            },
            updateValue() {
                let vue = this;

                let images = [];
                vue.images.forEach((image) => {
                    images.push(image.original);
                });

                vue.$emit('change', images);
            }
        },
        mounted() {
            let vue = this;

            let rUploader = new Resumable({
                chunkSize: 1 * 1024 * 1024,
                testChunks: false,
                throttleProgressCallbacks: 1,
                target: vue.uploadUri,
                query: {
                    _token: TOKEN
                }
            });


            if (!rUploader.support) {
                alert("Pls update browser");
            }


            rUploader.assignBrowse(vue.$refs.upload);
            rUploader.assignDrop(vue.$refs.drop);


            rUploader.on("fileAdded", (file, event) => {
                vue.showDrop = false;
                vue.isWait = true;
                rUploader.upload();
            });

            rUploader.on("fileSuccess", (file, response) => {
                response = JSON.parse(response);

                if (response.status == "success") {
                    vue.images.push(response.image);
                } else {
                    alert(response.msg);
                }
            });

            rUploader.on("complete", (file, event) => {
                vue.isWait = false;
                vue.updateValue();
            });


            let drop = document.getElementsByTagName("body")[0];
            drop.addEventListener("dragenter", () => {
                vue.showDrop = true;
            }, false);

            vue.$refs.drop.addEventListener("dragleave", () => {
                vue.showDrop = false;
            }, false);
        },
    }
</script>