<style lang="sass" rel="stylesheet/sass">
</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">

    <div>

        <masked-input
                v-if="!isMobile"
                ref="maskedInputObject"
                v-model="internalValue"
                v-on:input="desktopInputEvent"
                mask="\+\7-111-111-11-11"
                v-bind:class="'input'"
                placeholder="в формате +7-123-456-78-90"/>

        <input
                v-if="isMobile"
                class="input"
                type="tel"
                v-model="internalValue"
                v-on:input="mobileInputEvent($event.target.value)"
                placeholder="в формате +71234567890">

    </div>

</template>


<script type="text/babel">
    import maskedInput from 'vue-masked-input';

    import MobileDetect from 'mobile-detect';

    const md = new MobileDetect(window.navigator.userAgent),
        isMobile = !!md.mobile();


    export default {
        props: ['value', 'disabled'],
        data() {
            return {
                internalValue: "",
                isMobile: isMobile,
            };
        },
        components: {
            maskedInput
        },
        watch: {
            value(newValue, oldValue) {
                if (this.isMobile) {
                    this.internalValue = newValue;
                } else {
                    const mobileNumExp = new RegExp(/^\+7([\d]{3})([\d]{3})([\d]{2})([\d]{2})$/, 'i');

                    if (mobileNumExp.test(newValue)) {
                        this.internalValue = newValue.replace(mobileNumExp, '+7-$1-$2-$3-$4');
                    }
                }
            }
        },
        created: function () {
            this.internalValue = this.value;
        },
        methods: {
            mobileInputEvent() {
                const mobileNumExp = new RegExp(/^\8/, 'i');
                let num = arguments[0].replace(mobileNumExp, '+7');

                this.$emit('input', num);
            },
            desktopInputEvent() {
                if (!arguments[1].includes("_")) {
                    this.$emit('input', "+7" + arguments[1]);
                } else {
                    this.$emit('input', "");
                }
            }
        },
    }
</script>