<style lang="sass" rel="stylesheet/sass">
    @import "../../styles/base_variables"

    .services-input
        margin-top: 30px

        .v-select
            width: 100%

        .v-select.is-danger
            .dropdown-toggle
                border-color: $base_color_red

        .dropdown-toggle
            width: 100%
            background-color: #F5F5F5

        &__controls
            padding: 15px
            border: 1px dashed #bbb
            text-align: right

        &__services
            border: 1px solid rgba($base_color_gray, .2)
            margin-bottom: 30px

            &__item
                display: flex
                border-bottom: 1px solid rgba($base_color_gray, .2)
                padding: 5px 15px

                &:hover
                    background-color: rgba($base_color_yellow, .1)

                &:last-child
                    border-bottom: none

                &__name
                    flex-grow: 1

                &__price
                    flex: 0 0 100px

                &__unit
                    flex: 0 0 100px

                &__action
                    text-align: right
                    flex: 0 0 100px

        &__add-new-service
            padding: 15px
            border: 1px dashed #bbb

            &__controls
                text-align: right


</style>


<template xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
    <div class="control services-input">

        <div class="services-input__services" v-show="internalValue.length">
            <div class="services-input__services__item" v-for="(service, index) in internalValue">
                <div class="services-input__services__item__name">
                    {{ service.name }}
                </div>

                <div class="services-input__services__item__price">
                    <span v-if="service.price">
                        {{ service.price }} руб.
                    </span>
                    <span v-if="!service.price">
                        бесплатно
                    </span>
                </div>

                <div class="services-input__services__item__unit">
                    {{ service.unit }}
                </div>

                <div class="services-input__services__item__action">
                    <a
                            v-on:click.prevent="internalValue.splice(index, 1)"
                            class="button is-outlined is-small is-danger"
                            href="#">

                        <span class="icon">
                            <svg>
                                <use xlink:href="#map-remove"></use>
                            </svg>
                        </span>

                        <span>
                            удалить
                        </span>
                    </a>
                </div>
            </div>
        </div>


        <div class="services-input__add-new-service" v-show="showAddNewServiceForm">

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Услуга</label>
                </div>
                <div class="field-body">
                    <div class="field">

                        <v-select
                                label="name"
                                v-on:search="onSearch"
                                v-on:input="onChangeService"
                                placeholder="Поиск по названию"
                                :class="{'is-danger': newServiceError}"
                                :filterable="false"
                                :options="services">

                            <template slot="no-options">
                                Укажите название услуги, мы попробуем ее найти в нашей базе
                            </template>
                            <template slot="option" slot-scope="option">
                                <div>
                                    {{ option.name }} ({{ option.unit_type }})
                                </div>
                            </template>
                            <template slot="selected-option" slot-scope="option">
                                <div class="selected">
                                    {{ option.name }}
                                </div>
                            </template>

                        </v-select>

                        <p class="help is-danger">
                            {{ newServiceError }}
                        </p>
                    </div>
                </div>
            </div>


            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Стоимость</label>
                </div>

                <div class="field-body">
                    <div class="field has-addons">
                        <p class="control is-expanded">
                            <input
                                    v-on:focus="$event.target.select()"
                                    v-model="newService.price"
                                    :disabled="!newService.id"
                                    class="input"
                                    type="text">
                        </p>
                        <p class="control">
                            <a class="button is-static">
                                рублей

                                <span v-if="newService.id">
                                    за 1 {{ newService.unit }}
                                </span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>


            <div class="services-input__add-new-service__controls">
                <button
                        type="button"
                        v-on:click="addService"
                        class="button is-outlined is-small is-dark">

                    <span class="icon">
                        <svg>
                            <use xlink:href="#add-contact"></use>
                        </svg>
                    </span>

                    <span>
                        добавить
                    </span>
                </button>
            </div>
        </div>


        <div class="services-input__controls" v-show="!showAddNewServiceForm">
            <button
                    v-on:click="showAddNewServiceForm = true"
                    type="button"
                    class="button is-outlined is-dark is-small">

                    <span class="icon">
                        <svg>
                            <use xlink:href="#add-contact"></use>
                        </svg>
                    </span>

                <span>
                    {{ addServiceTitle }}
                </span>
            </button>
        </div>

    </div>
</template>


<script type="text/babel">
    import vSelect from 'vue-select';
    import debounce from 'lodash/debounce';
    import axios from 'axios';

    const SERVICES_ROUTE = "/api/service";


    export default {
        props: ['value'],
        data() {
            return {
                internalValue: [],
                newService: {
                    price: 0,
                    id: null,
                    name: null,
                    unit: null,
                },
                newServiceError: null,
                showAddNewServiceForm: false,
                services: [],
            };
        },
        components: {
            vSelect
        },
        watch: {
            internalValue(newValue, oldValue) {
                this.$emit('input', this.internalValue);
            },
            value(newValue, oldValue) {
                this.internalValue = newValue ? newValue : [];
            }
        },
        created: function () {
            this.internalValue = this.value ? this.value : [];
        },
        computed: {
            addServiceTitle() {
                if (this.internalValue && this.internalValue.length) {
                    return "добавить еще одну услугу";
                } else {
                    return "добавить услугу";
                }
            }
        },
        methods: {
            validate() {
                let isValid = true,
                    vue = this;


                vue.newServiceError = null;

                if (!vue.newService.id) {
                    isValid = false;
                    this.newServiceError = "Услуга не выбрана";
                }

                let existValue = vue
                    .internalValue
                    .filter(item => {
                        return item.id == vue.newService.id;
                    });


                if (vue.newService.id && existValue.length) {
                    isValid = false;
                    this.newServiceError = "Услуга уже добавлена";
                }

                return isValid;
            },
            addService() {
                if (this.validate()) {
                    this.internalValue.push({
                        price: this.newService.price,
                        name: this.newService.name,
                        unit: this.newService.unit,
                        id: this.newService.id,
                    });

                    this.newService.price = 0;
                }
            },
            onSearch(search, loading) {
                if (search.length > 2) {
                    loading(true);
                    this.search(loading, search, this);
                }
            },
            onChangeService(value) {
                if (value) {
                    this.newService.id = value.id;
                    this.newService.name = value.name;
                    this.newService.unit = value.unit_type;
                } else {
                    this.newService.price = 0;
                    this.newService.id = null;
                    this.newService.name = null;
                    this.newService.unit = null;
                }
            },
            search: debounce((loading, search, vm) => {
                axios
                    .get(SERVICES_ROUTE + "?q=" + search)
                    .then(response => {
                        vm.services = response.data.data;
                        loading(false);
                    })
                    .catch(error => {
                        console.log(error);
                    });
            }, 350)
        },
        mounted() {
        },
    }
</script>