.company-service-widget .select-two {
  width: 100%; }

.company-service-widget .select2 {
  width: 100% !important; }

.company-service-widget__col-2 {
  width: 100px; }

.company-service-widget__col-3 {
  width: 100px; }
