.button
    .icon:first-child:not(:last-child)
        margin-right: 4px
        overflow: hidden

        svg
            width: 15px
            height: 15px

.button.is-small
    padding-top: 0
    padding-bottom: 1px

    span
        font-size: 14px
        line-height: 13px
