.footer
    padding: 4rem 1.5rem 4rem
    color: $base_color_white
    font-size: 13px

    a
        color: $base_color_white

        &:hover
            text-decoration: underline

    &__categories
        a
            display: block
            font-size: 13px
            color: $base_color_yellow

    &__site-name
        text-transform: uppercase
        color: $base_color_yellow
        display: block
        margin-bottom: 10px
        margin-right: 40px


    &__search-form
        margin-bottom: 10px

        input
            background-color: #ccc
            border-color: #ccc
            height: 30px

            &:hover,&:focus
                border-color: #eee
                border-right-color: transparent
                box-shadow: none

        button
            height: 30px
