.form-login
    margin-bottom: 30px

    &__wrap
        background-color: $base_color_white
        padding: 30px 30px 20px
        margin-bottom: 60px

        +mobile
            margin-bottom: 0

    &__info
        margin-bottom: 30px

.login-additional-links
    +mobile
        margin-bottom: 20px