.navbar
    background-color: $base_color_yellow
    font-size: 14px
    text-transform: uppercase

    &__logo
        font-size: 20px
        font-weight: bold
        font-family: $font_family_headers
        color: $base_color_white
        text-transform: uppercase

        span
            font-family: $font_family_headers
            color: $base_color_gray
            margin: auto 2px

    .navbar-item
        //text-transform: uppercase

    .navbar-brand
        .navbar-item
            +desktop
                padding-left: 0

            &:hover
                background-color: transparent

    .navbar-end
        .navbar-item:last-child
            +desktop
                padding-right: 0


    .navbar-burger
        background-color: transparent
        border: none

    &__link-icon
        width: 20px
        height: 20px

    &__user-name
        text-transform: none

    &__logout
        text-transform: none
        margin-left: 10px
        padding-left: 10px
        border-left: 1px solid $base_color_gray
        color: $base_color_gray