@import "../bulma/overrides"
@import "~bulma/sass/utilities/initial-variables"
@import "~bulma/sass/utilities/mixins"

//mobile view ->
.hero
    .container
        +mobile
            padding: 5px

    .hero-body
        +mobile
            padding: 0

    .columns
        +mobile
            margin: 0

    .column
        +mobile
            padding: 0

    .welcome
        +mobile
            padding: 25px 20px
//mobile view <-

.welcome
    background-color: #FFCA28
    border-radius: 3px
    padding: 35px 40px

    &__description
        margin-bottom: 30px

        p
            font-size: 14px

        .button
            text-transform: uppercase
            margin-bottom: 2px

    &__contacts
        border-top: 2px solid #f3f3f3
        padding-top: 30px

        &__item
            margin-bottom: 5px
            display: inline-block

        .button
            text-transform: uppercase
            white-space: normal

            +mobile
                height: auto

    .title
        font-size: 70px
        text-transform: uppercase
        color: #fff
        font-family: $font_family_headers
        font-weight: bold

        +mobile
            font-size: 7vw

        span
            color: #444
            font-family: $font_family_headers
            margin: 0 4px

    .subtitle
        color: #555

        +mobile
            font-size: 15px
