.category
    &__description
        margin-bottom: 20px

.categories-list
    h1
        font-size: 31px

    &__filter
        margin: 8px 0 50px

        +touch
            margin-top: -20px

        svg
            width: 20px
            height: 20px
            margin-right: 10px
            --primary-color: #FFCA28

        .button
            text-transform: uppercase
            height: 33px

            &:hover
                svg
                    --primary-color: #111

        .button.is-active
            background-color: rgba($base_color_yellow, .4)

    .master-category
        &__wrap
            margin-top: 20px

        &__header
            margin-bottom: 10px
            display: flex
            align-items: center

            &__icon
                display: inline-flex
                width: 60px
                height: 60px
                margin-right: 15px

            &__info

                &__title
                    width: 100%
                    font-size: 18px
                    line-height: 19px
                    margin-bottom: 3px
                    display: block

                &__score
                    width: 100%
                    font-size: 16px
                    display: block

        &__links
            margin-bottom: 30px

            a
                color: $base_color_yellow
                font-size: 15px
                line-height: 14px
                margin-bottom: 3px

                &:hover
                    border-bottom: 1px solid $base_color_yellow
