.company
    &__header
        margin-bottom: 20px

        h2
            color: #999

    &__addresess
        margin-bottom: 20px

    &__images
        margin-bottom: 20px

    &__categories
        margin-bottom: 20px

        a
            margin: 0 1px 5px 0
            text-transform: uppercase

    &__contacts
        margin-bottom: 20px

        .tags
            margin: 0 5px 2px 0

            .tag
                font-size: 13px
                line-height: 14px
                font-weight: bold
                margin-bottom: 3px
                background-color: $base_color_white

                &:first-child
                    //border: 1px solid $base_color_blue
                    border: 1px solid lighten($base_color_blue, 30%)
                    padding-right: 6px

                &:last-child
                    border: 1px solid lighten($base_color_blue, 30%)
                    border-left: none
                    padding-left: 6px
                    padding-right: 15px

                a
                    color: $base_color_blue

                    &:hover
                        text-decoration: underline

    &__info
        margin-bottom: 50px

    &__prices
        &__item
            border: 1px dashed #eee
            padding: 5px 10px
            margin-bottom: 3px

            &:hover
                background-color: #eee
                border-color: #ccc
