.company-form-page
    &__divider
        height: 40px

    &__form-bg
        margin: 0 -20px 0
        padding: 40px 20px
        background-color: rgba($base_color_gray, .1)

    &__help-text
        font-size: 14px
        color: #555
        padding: 20px 0 30px

        p
            margin-bottom: 10px

    label.label
        font-weight: bold
        text-align: left

    i
        font-size: 14px